version: 2.1

orbs:
  aws-s3: circleci/aws-s3@2.0.0
  slack: circleci/slack@4.4.2

workflows: # Define a Workflow running the build job, then the deploy job
   build:
     jobs:
       - build
       - slack/on-hold:
          context: slack-secrets
          filters:
            tags:
              only: /^v.*/
          requires:
            - build
       - notify:
          filters:
            tags:
              only: /^v.*/
          requires:
            - slack/on-hold


jobs:
  build:
    working_directory: ~/repo/app
    docker:
      - image: circleci/node:15
    steps:
      - checkout
      - run:
          name: Setup frozen-lockfile
          command: yarn install --frozen-lockfile
      - run:
          name: Build
          command: yarn build
      - run:
          name: Zip
          command: cd build/$CIRCLE_SHA1 && zip -r ./build.zip .
      - aws-s3/copy:
          arguments:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_REGION
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          from: ~/repo/app/build/$CIRCLE_SHA1/build.zip
          to: 's3://circleci-buildtest/build/${CIRCLE_BRANCH}/$CIRCLE_SHA1/'
  notify:
    working_directory: ~/repo/app
    docker:
      - image: 'cimg/base:stable'
    steps:
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: pass
          template: basic_success_1