version: 2.1

orbs:
  node: circleci/node@4.1
  # The S3 orb will setup the aws-cli and quickly copy or sync anything to s3.
  # Orbs reduce the amount of configuration required for common tasks.
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/aws-s3
  # NOTE: Environment variables containing the necessary secrets can be setup in the CircleCI UI
  # See here https://circleci.com/docs/2.0/env-vars/#setting-an-environment-variable-in-a-project
  aws-s3: circleci/aws-s3@2.0

jobs:
  build:
    working_directory: ~/repo/app
    docker:
      - image: circleci/node:15
    steps:
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g yarn"
      - run:
          name: Setup frozen-lockfile
          command: yarn install --frozen-lockfile
      - run:
          name: Build
          command: yarn build
      - run:
          name: Zip
          conmmand: mkdir build/$CIRCLE_SHA1 && cd build/$CIRCLE_SHA1 && buildzip -qq -r build.zip *
      - aws-s3/sync:
           from: build.zip
           to: 's3://ringle-build/ringle-web/build/${CIRCLE_BRANCH}/$CIRCLE_SHA1/build.zip'
           arguments: | # Optional arguments
             --acl public-read \
             --cache-control "max-age=86400"
           overwrite: true # default is false