version: 2.1

orbs:
  aws-s3: circleci/aws-s3@2.0.0

workflows: # Define a Workflow running the build job, then the deploy job
   build:
     jobs:
       - build

jobs:
  build:
    working_directory: ~/repo/app
    docker:
      - image: circleci/node:15
    steps:
      - checkout
      - run:
          name: Setup frozen-lockfile
          command: yarn install --frozen-lockfile
      - run:
          name: Build
          command: yarn build
      - run:
          name: Zip
          command: mkdir build && cd build && mkdir $CIRCLE_SHA1 && cd $CIRCLE_SHA1 && buildzip -qq -r build.zip *
      - aws-s3/sync:
           from: build.zip
           to: 's3://ringle-build/ringle-web/test-circleci/build/${CIRCLE_BRANCH}/$CIRCLE_SHA1/build.zip'
           arguments: | # Optional arguments
             --acl public-read \
             --cache-control "max-age=86400"